---
layout: main-default
title: Projects
permalink: /projects/
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.type == "project" %}
        <li>
          <h1>
            {% include post-tags.html %}
            <a class="post-link" href="{{ post.github }}">{{ post.title }}</a>
          </h1>
          <p>{{ post.description }}</p>
          <img src="{{ site.url }}/public/{{ post.img }}" class="project-image" alt="project-image">
          <p><strong>How it works:</strong> {{ post.howitworks }}</p>
          <a href="{{ post.github }}"><i class="fa fa-github fa-2x project-link" aria-hidden="true"></i></a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>