---
layout: main-default
title: Projects
permalink: /projects/
---

<div class="projects home">
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.type == "project" %}
        <li>
          <a class="post-link" href="{{ post.github }}">
            <img src="{{ site.url }}/public/{{ post.img }}" class="project-image" alt="project-image">
          </a>
          <h1>
            <a class="post-link" href="{{ post.github }}">{{ post.title }}</a>
            {% include post-tags.html %}
          </h1>
          <p>{{ post.description }}</p>
          <p><strong>How it works:</strong> {{ post.howitworks }}</p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>