<header class="post-nav-header">
  <nav class="post-nav clearfix">
    <div class="title-header hover-feature">
      <a href="/"><span data-hover="Houssein">HD</span></a>
    </div>

    <div class="menu">
      <a class="subscribe-button" href="https://github.com/housseindjirdeh" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
      <a class="subscribe-button" href="https://twitter.com/hdjirdeh"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
      <a class="blog-button" href="/blog"><i class="fa fa-pencil" aria-hidden="true"></i> Blog</a>
  </div>
  </nav>
</header>
