<header class="post-nav-header">
  <nav class="post-nav clearfix">
    <div class="title-header hover-feature">
      <a href="/"><span data-hover="Houssein">HD</span></a>
    </div>
    
    <div class="menu">
    	<a class="subscribe-button" href="/posts"><i class="fa fa-pencil" aria-hidden="true"></i> Posts</a>
    	<a class="subscribe-button" href="https://github.com/hdjirdeh"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
	    <a class="subscribe-button" href="mailto:h.djirdeh@mail.utoronto.ca?subject=Wassup!"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a>
	</div>
  </nav>
</header>