/**

 * Site header

 */
.site-header {
    min-height: 70px;
    // Positioning context for the mobile navigation icon
    position: relative;
}
.title-header {
    font-family: "Kaushan Script", Serif;
    letter-spacing: 3px;
    float: left;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 24px;
    overflow: hidden;
}

.title-header a {
    font-weight: 100;
    overflow: hidden;
    padding: 0 4px;
    height: 1em;

    &:hover {
        color: #262b30;
        border: none;
    }
}

.title-header a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.title-header a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 700;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.title-header a:hover span,
.title-header a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.title {
    font-family: "Kaushan Script", Serif;
    letter-spacing: 4px;
    float: left;
    font-size: 60px;
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.site-nav {
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height;
         position: relative;
    z-index: 1;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
.page-link{
    padding: 0 5px;
    color: #111;
    font-weight: 700;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.page-link::before,
.page-link::after {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 2px;
    margin-top: -1px;
    background: #b6b6b6;
    opacity: 0;
    content: '';
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

.page-link::before {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
}

.page-link::after {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    transform: translateY(20px);
}

.page-link:hover,
.page-link:focus {
    color: #026ed2;
    border: none;
}

.page-link:hover::before,
.page-link:hover::after,
.page-link:focus::before,
.page-link:focus::after {
    opacity: 0.7;
}

.page-link:hover::before,
.page-link:focus::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.page-link:hover::after,
.page-link:focus::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            > svg {
                width: 18px;
                height: 15px;
                path {
                    fill: $grey-color-dark;
                }
            }
        }
        .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
/**

 * Site footer

 */

.site-footer {
    overflow: hidden;
    padding: $spacing-unit 0;
    margin: 30px 0;

    .author {
        display: block;
        float: left;
        width: 12%;
        -webkit-border-radius: 96px;
        -moz-border-radius: 96px / 96px;
        border-radius: 96px / 96px;
    }

    .wrapper {
        padding: $spacing-unit 0;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    }
}
.footer-heading {
    font-size: 18px;
    margin: $spacing-unit / 2 0;
}
.footer-info {
    width: 82%;
    display: block;
    float: right;
}
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}
.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}
.footer-col-1 {
    width: -webkit-calc(35% - (# {
        $spacing-unit
    }
    / 2));
    width: calc(35% - (# {
        $spacing-unit
    }
    / 2));
}
.footer-col-2 {
    width: -webkit-calc(20% - (# {
        $spacing-unit
    }
    / 2));
    width: calc(20% - (# {
        $spacing-unit
    }
    / 2));
}
.footer-col-3 {
    width: -webkit-calc(45% - (# {
        $spacing-unit
    }
    / 2));
    width: calc(45% - (# {
        $spacing-unit
    }
    / 2));
}
@include media-query($on-laptop) {
    .footer-col-1, .footer-col-2 {
        width: -webkit-calc(50% - (# {
            $spacing-unit
        }
        / 2));
        width: calc(50% - (# {
            $spacing-unit
        }
        / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (# {
            $spacing-unit
        }
        / 2));
        width: calc(100% - (# {
            $spacing-unit
        }
        / 2));
    }
}
@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (# {
            $spacing-unit
        }
        / 2));
        width: calc(100% - (# {
            $spacing-unit
        }
        / 2));
    }
}
/**

 * Page content

 */

.page-content {
    padding: $spacing-unit 0;
}
.page-heading {
    font-size: 20px;
}
.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
        padding: 50px 0;
        border-bottom: 1px solid #d7d7d7;
        clear: both;
    }
    p {
        margin: 30px 0 0;
        line-height: 38px;
        word-wrap: break-word;
    }
}
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;

    .date-icon {
        padding-left: 5px;
        padding-right: 5px;
    }

    .meta-date {
        color: $brand-alternate-color;
        font-weight: bold;
    }
}
.post-link {
    display: block;
    font: $head-font;
    line-height: 56px;
}
.post-divider {
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px solid #b5b5b5;
}
/**

 * Posts

 */

.post-header {
    margin-bottom: $spacing-unit;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/*(

* Keyframes

*/
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}