/**

 * Site header

 */
.site-header {
    min-height: 70px;
    // Positioning context for the mobile navigation icon
    position: relative;
}
.title-header {
    font-family: "Kaushan Script", Serif;
    letter-spacing: 3px;
    float: left;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 24px;
    overflow: hidden;
}

.title-header a {
    font-weight: 100;
    overflow: hidden;
    padding: 0 4px;
    height: 1em;

    &:hover {
        color: #262b30;
        border: none;
    }
}

.title-header a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.title-header a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 700;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.title-header a:hover span,
.title-header a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.title {
    font-family: "Kaushan Script", Serif;
    letter-spacing: 4px;
    float: left;
    font-size: 60px;
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.site-nav {
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height;
         position: relative;
    z-index: 1;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
.page-link{
    padding: 0 5px;
    color: #111;
    font-weight: 700;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.page-link::before,
.page-link::after {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 2px;
    margin-top: -1px;
    background: #b6b6b6;
    opacity: 0;
    content: '';
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

.page-link::before {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
}

.page-link::after {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    transform: translateY(20px);
}

.page-link:hover,
.page-link:focus {
    color: #026ed2;
    border: none;
}

.page-link:hover::before,
.page-link:hover::after,
.page-link:focus::before,
.page-link:focus::after {
    opacity: 0.7;
}

.page-link:hover::before,
.page-link:focus::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.page-link:hover::after,
.page-link:focus::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            > svg {
                width: 18px;
                height: 15px;
                path {
                    fill: $grey-color-dark;
                }
            }
        }
        .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
/**

 * Site footer

 */

.site-footer {
    overflow: hidden;
    padding: $spacing-unit 0;
    margin: 30px 0;

    .author {
        display: block;
        float: left;
        width: 12%;
        -webkit-border-radius: 96px;
        -moz-border-radius: 96px / 96px;
        border-radius: 96px / 96px;
    }

    .wrapper {
        padding: $spacing-unit 0;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    }
}
.footer-heading {
    font-size: 18px;
    margin: $spacing-unit / 2 0;
}
.footer-info {
    width: 82%;
    display: block;
    float: right;
}
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}
.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}
.footer-col-1 {
    width: -webkit-calc(35% - (# {
        $spacing-unit
    }
    / 2));
    width: calc(35% - (# {
        $spacing-unit
    }
    / 2));
}
.footer-col-2 {
    width: -webkit-calc(20% - (# {
        $spacing-unit
    }
    / 2));
    width: calc(20% - (# {
        $spacing-unit
    }
    / 2));
}
.footer-col-3 {
    width: -webkit-calc(45% - (# {
        $spacing-unit
    }
    / 2));
    width: calc(45% - (# {
        $spacing-unit
    }
    / 2));
}
@include media-query($on-laptop) {
    .footer-col-1, .footer-col-2 {
        width: -webkit-calc(50% - (# {
            $spacing-unit
        }
        / 2));
        width: calc(50% - (# {
            $spacing-unit
        }
        / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (# {
            $spacing-unit
        }
        / 2));
        width: calc(100% - (# {
            $spacing-unit
        }
        / 2));
    }
}
@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (# {
            $spacing-unit
        }
        / 2));
        width: calc(100% - (# {
            $spacing-unit
        }
        / 2));
    }
}
/**

 * Page content

 */

.page-content {
    padding: $spacing-unit 0;
}
.page-heading {
    font-size: 20px;
}
.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
        padding: 50px 0;
        border-bottom: 1px solid #d7d7d7;
        clear: both;
    }
    p {
        margin: 30px 0 0;
        line-height: 38px;
        word-wrap: break-word;
    }
}
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;

    .date-icon {
        padding-left: 5px;
        padding-right: 5px;
    }

    .meta-date {
        color: $brand-alternate-color;
        font-weight: bold;
    }
}
.post-link {
    display: block;
    font: $head-font;
    line-height: 56px;
}
.post-divider {
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px solid #b5b5b5;
}
/**

 * Posts

 */

.post-header {
    margin-bottom: $spacing-unit;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/*(

* Keyframes

*/
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

/*Home*/

.splitlayout {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
}

/* Intro sides */
.side {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 50%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 499;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.side-left .overlay {
    background: rgba(0,0,0,0.7);
}

.side-right .overlay {
    background: rgba(0,0,0,0.3);
}

.side-left {
    left: 0;
    background: #111;
    color: #ef6e7e;
    outline: 1px solid #47a3da; /* avoid gap */
}

.side-right {
    right: 0;
    background: #ef6e7e;
    color: #fff;
    outline: 1px solid #fff; /* avoid gap */
}

/* Intro content, profile image and name, back button */
.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 1em;
    width: 50%;
    cursor: pointer;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.intro-content h1 > span {
    display: block;
    white-space: nowrap;
}

.intro-content h1 > span:first-child {
    font-weight: 300;
    font-size: 2em;
}

.intro-content h1 > span:nth-child(2) {
    position: relative;
    margin-top: 0.5em;
    padding: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.intro-content h1 > span:nth-child(2):before {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #fff;
    content: '';
}

.side-right .intro-content h1 > span:nth-child(2):before {
    background: #47a3da;
}

/* Media Queries */
@media screen and (max-width: 83em) {
    .intro-content { font-size: 60%; }
}

@media screen and (max-width: 58em) {
    body { font-size: 90%; }
}

@media screen and (max-width: 49.4375em) {
    .intro-content {
        width: 100%;
    }
}

@media screen and (max-width: 42.5em) {
    body { font-size: 80%; }
    .intro-content { font-size: 50%; }
}

@media screen and (max-height: 41.125em) {
    .intro-content {
        -webkit-transform: translateY(-25%) translateX(-50%);
        transform: translateY(-25%) translateX(-50%);
    }
}

@media screen and (max-width: 320px) {
    body { font-size: 70%; }
}

.svg-wrapper {
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  /*margin: 0 auto;*/
  width: 23em; 
}

.shapeleft {
  fill: transparent;
}

.shaperight {
  fill: transparent;
}

.text {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 4px;
  color: #fff;
  top: -48px;
  position: relative;
}

@media screen and (min-width: 83em) {

    .shapeleft {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 9px;
  fill: transparent;
  stroke: #ef6e7e;
  border-bottom: 5px solid black;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  -moz-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  -ms-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  -o-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
   transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.shaperight {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 9px;
  fill: transparent;
  stroke: #111;
  border-bottom: 5px solid black;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  -moz-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  -ms-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  -o-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
   transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

    .svg-wrapper:hover .shapeleft, .svg-wrapper:hover .shaperight {
        stroke-width: 9px;
        stroke-dashoffset: 0;
        stroke-dasharray: 760;
    }

}