.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.primary-color {
  color: #b74746;
}

.bg-primary-color {
  background-color: #b74746;
}

.b-primary-color {
  border-color: #b74746;
}

.bg-twitter-blue {
  background: #00aced;
}

.hover-primary-color:hover {
  color: #b74746;
}

.hover-bg-twitter-blue:hover {
  background: #00aced;
}

.large {
  font-size: 6rem;
}

#home-icon-container {
  transition: all 0.15s ease-in-out;
}

#home-icon-container:hover #home-icon {
  fill: #b74746;
}

.custom-arrow {
  border: solid #000000;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
}

.custom-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
