---
layout: tag-default
title: Tagged - Immutable.js
permalink: /tags/immutablejs
---

<div class="home">
  <h1 class="tag-title"><span class="name">immutablejs</span><span class="alternate-tag-title">A <strong>1</strong>-post collection</span></h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.tags contains 'immutablejs' and post.type == 'post' %}
      <li>
        <h1>
          {% include post-tags.html %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | downcase }}</a>
        </h1>

        <span class="post-meta">Posted on <i class="fa fa-calendar date-icon" aria-hidden="true"></i><span class="meta-date">{{ post.date | date: "%b %-d, %Y" }}</span> • <a class="comment-meta" href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{post.url}}"></a></span>

        <p>{{ post.description }}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<!-- Comment count -->
{% include disqus-count.html %}
